<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/friends">Furever Friends</a>
        </li>
        <li>
            <a href="/pets">Pets</a>
        </li>
        <li>
            <a href="/possible">Pawsible Friends</a>
        </li>
    </ul>
</nav>