<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./style.css">
    <title>Landing</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="https://document-export.canva.com/-3xos/DAFCdW-3xos/82/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220602T031451Z&X-Amz-Expires=47869&X-Amz-Signature=218505d5589cce024e2303cd02f127afda1469f4564e18808256f3372a222c66&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2002%20Jun%202022%2016%3A32%3A40%20GMT" alt="logo" height="70px" class="logo">
            <nav>
                <ul>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/features">Features</a>
                    </li>
                    <li>
                        <a href="/possible">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div>
  
            <div>
                <a href="/pets/new">Get Started</a>
          </div>
        </div>


    </main>
</body>
</html>