<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/indexHead.ejs') %> 
    <title>My Pet Index</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/friends">Furever Friends</a>
                </li>
                <li>
                    <a href="/pets">Pets</a>
                </li>
                <li>
                    <a href="/possible">Pawsible Friends</a>
                </li>
                <li><a href="/pets/new">Add Pet</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Pets</h1>
        <ul>
            <% for(let i=0; i < pets.length; i++){ %>
                <li>
                    <a href="/pets/<%= pets[i]._id %>"><%= pets[i].name %></a> <br/>
                    <img class="doggo"  src="<%= pets[i].img %>" height="200px"/>
                </li> cl
           <% } %> 
        </ul>
    </main>

</body>
</html>