<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/indexHead.ejs') %> 
    <title>My Pet Index</title>
</head>
<body>
    <header>
        <img src="https://document-export.canva.com/-3xos/DAFCdW-3xos/82/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220602T031451Z&X-Amz-Expires=47869&X-Amz-Signature=218505d5589cce024e2303cd02f127afda1469f4564e18808256f3372a222c66&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2002%20Jun%202022%2016%3A32%3A40%20GMT" alt="logo" height="70px" class="logo">
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/friends">Furever Friends</a>
                </li>
                <li>
                    <a href="/pets">Pets</a>
                </li>
                <li>
                    <a href="/possible">Pawsible Friends</a>
                </li>
                <li><a href="/pets/new">Add Pet</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="index-container"></div>
        <h1>My Pets</h1>
        <ul class="pet-display">
            <% for(let i=0; i < pets.length; i++){ %>
                <li>
                    <a href="/pets/<%= pets[i]._id %>"><%= pets[i].name %></a> <br/>
                    <img class="doggo"  src="<%= pets[i].img %>" height="200px"/>
                </li> 
           <% } %> 
        </ul>
    </main>

</body>
</html>