<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pet Index</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/friends/index">Furever Friends</a>
                </li>
                <li>
                    <a href="/pets/index">Pets</a>
                </li>
                <li>
                    <a href="/possible/index">Pawsible Friends</a>
                </li>
                <li><a href="/pets/new">Add Pet</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Pets</h1>
    </main>

</body>
</html>