<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../style.css">
    <title>Add New Pet</title>
</head>
<body>
    <header>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main>
        <div class="form-container">
            <div class="form-title">
                <h1>Add Pet</h1>
            </div>
            <form action="/pets" method="POST">
                <section class="baseline">
                    Photo:<input type="text" name="img"/><br />
                    Name:<input type="text" name="name" /><br/>
                    Breed:<input type="text" name="breed" /><br/>
                    Age:<input type="number" name="age" /><br/>
                </section>
                <hr>
                <section class="disposition">
                    <label for="energy">Energy Level</label><br/>
                    <span>Low</span>
                    <input type="range" name="energy" id="energy" value="3" min="1" max="5"/>
                    <span>High</span>
                    <br/>
                    Personality: <br />
                    <textarea name="personality"></textarea><br/>
                    Doggo Bio:<br/>
                    <textarea name="about" ></textarea><br/>
                </section>
                <hr>
                <section class="locations">
                    Favorite Play Places <br/>
                    <textarea name="locations"></textarea>
                </section>
                <input type="submit" value="Add Pet"/><br/>
            </form>
        </div>
        
    </main>
</body>
</html>