html {
    width: 100%;
}
body {
    
    background: rgb(240, 244, 245);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
/* Site-Nav Bar */
.container {
    width: 97%;
    max-width: 1000px;
    margin: 0 auto;
    
}

header {
    background:  #128f95;
    color:aliceblue;
    padding: 1em 0;
    position: relative;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    max-width: 800px;
    min-width: 500px;
    list-style: none;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.site-nav li {
    display: inline-block;
    margin-left: 8px;
    padding-top: 25px;
}

.site-nav a {
    color:aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover {
    color: rgb(246, 246, 136);
}
/* Side Nav Bar */
/* Dog Images */
.doggo {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 25%;
    border: 3px solid grey;
}
#showDog {
    width: 300px;
    height: 300px;
    border-radius: 30%;

}
#my-doggo {
    border-radius: 50%;
}
/* Text Things */
h1 {
    color:#0e5d61; 
}

/* .index-container */
.index-container {
    position: relative;
    overflow: scroll;
}
/* Pet Container */
.pet-display {
    background:white;
    max-width: 800px;
    min-width: 500px;
    max-height: 600px;
    min-height: 300px;
    margin:;
    padding:;
    border:2px solid orange;
    border-radius: ;
    list-style: none;
    position: relative;
    overflow: scroll;
}
.pet-display ul {
}
.pet-display li {
    background: rgb(154, 152, 152);
    border:2px solid red;
    width: 300px;
    height: 300px;
    margin: 1px 0;
    padding: 1px 0;
    
}
.pet-display a {
    text-decoration: none;
    text-transform: uppercase;
}

/* .site-nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(152, 154, 154);
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid grey;
}
.site-nav li:last-child {
    border-bottom: none;
}
.site-nav a {
    color: aliceblue;
    display: block;
    padding: 2em 5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.site-nav a:hover,
.site-nav a:focus {
    background:#a3e3e4;
    color: rgb(254, 254, 127);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1.25em;
    right: 1.5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: aliceblue;
    height: 3px;
    width: 2em;
    border-radius: 3px;
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
} */
